/.lsp-session-v1
/elpa/
/elpaca/
/history
/transient/
/auto-save/
/auto-save-list/
recentf
/.cache/
/projects
*#*
*flycheck*
*~*
/forge-database.sqlite
/eshell/
/projectile-bookmarks.eld
custom.el
/tree-sitter/
/eln-cache/
/tramp
/.org-id-locations
/bookmarks.eld
/pdf-places.el
/pdf-bookmarks.el
/org-roam.db
/straight/
